@{
    ViewBag.Title = "Trang chủ";
}

<section id="feature">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>English for life</h2>
            <p class="lead">Hãy đến với chúng tôi để kiến thức ngoại ngữ của bạn ngày càng nâng cao hơn 
            <br>" Come to us to improve your knowledge of foreign languages "</p>
        </div>

        <div class="row">
            <div class="features">
                <div class="col-md-6 col-sm-8 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-list"></i>
                        <h2>Danh sách lớp học</h2>
                        <h3>Thông tin các loại lớp học tại trung tâm </h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-6 col-sm-8 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-calendar"></i>
                        <h2>Thời khóa biểu</h2>
                        <h3>Lịch hoạt động của trung tâm </h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-6 col-sm-8 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-users"></i>
                        <h2>Quản lý học viên </h2>
                        <h3>Danh sách quản lý các học viên của trung tâm</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-6 col-sm-8 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-folder"></i>
                        <h2>Quản lý lớp học</h2>
                        <h3>Danh sách quản lý các lớp học đang hoạt động của trung tâm</h3>
                    </div>
                </div><!--/.col-md-4-->
            </div><!--/.services-->
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#feature-->

<section id="recent-works">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Nội quy</h2>
            <p class="lead">Các quy định và quyền lợi khi các bạn học ở trung tâm</p>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="~/images/portfolio/recent/item1.png" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a>Quy định</a> </h3>
                            <p>Một học viên không được đăng ký 2 lớp trùng thời khóa biểu</p>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="~/images/portfolio/recent/item2.png" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a>Quy định </a></h3>
                            <p>Không giải quyết các vấn đề hoàn lại hay chuyển nhượng học phí sau khi đăng ký</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="~/images/portfolio/recent/item3.png" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a>Quy định </a></h3>
                            <p>Sỉ số lớp học tối đa là 20 học viên</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="~/images/portfolio/recent/item4.png" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a >Quy định </a></h3>
                            <p>Bảo lưu 3 tháng không quay lại đăng ký tiếp tục học xem như bỏ học</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="~/images/portfolio/recent/item5.png" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a>Lợi ích</a></h3>
                            <p>Sau khi đăng ký học 2 khóa tại trung tâm, khóa thứ 3 sẽ được giảm học phí</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="~/images/portfolio/recent/item6.png" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a >Lợi ích </a></h3>
                            <p>Được phép bảo lưu và thời hạn bảo lưu là 3 tháng.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="~/images/portfolio/recent/item7.png" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a >Lợi ích </a></h3>
                            <p>Sẽ được giáo viên kèm riêng nếu học viên mất buổi học đó hay cần phụ đạo</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="~/images/portfolio/recent/item8.png" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a>Lợi ích </a></h3>
                            <p>Mỗi học viên được phép chuyển lớp 2 lần nếu khi học thấy không phù hợp</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#recent-works-->

<section id="middle">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown">
                <div class="skill">
                    <h2>Các lớp nổi bật</h2>
                    <p>Các khóa học có trong trung tâm </p>

                    <div class="progress-wrap">
                        <h3>TOEIC</h3>
                        <div class="progress">
                            <div class="progress-bar  color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                <span class="bar-width">85%</span>
                            </div>

                        </div>
                    </div>

                    <div class="progress-wrap">
                        <h3>Anh văn chuyên luyện</h3>
                        <div class="progress">
                            <div class="progress-bar color2" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                                <span class="bar-width">95%</span>
                            </div>
                        </div>
                    </div>

                    <div class="progress-wrap">
                        <h3>Anh văn trẻ em</h3>
                        <div class="progress">
                            <div class="progress-bar color3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 87%">
                                <span class="bar-width">87%</span>
                            </div>
                        </div>
                    </div>

                    <div class="progress-wrap">
                        <h3>Đàm thoại giao tiếp</h3>
                        <div class="progress">
                            <div class="progress-bar color4" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                <span class="bar-width">90%</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!--/.col-sm-6-->

            <div class="col-sm-6 wow fadeInDown">
                <div class="accordion">
                    <h2>Tại sao nên chọn trung tâm ?</h2>
                    <div class="panel-group" id="accordion1">
                        <div class="panel panel-default">
                            <div class="panel-heading active">
                                <h3 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" 
                                       href="#collapseOne1">
                                       Vui học cùng Anh văn dành cho trẻ em
                                        <i class="fa fa-angle-right pull-right"></i>
                                    </a>
                                </h3>
                            </div>

                            <div id="collapseOne1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="media accordion-inner">
                                       <div class="media-body">
                                            <h4>Anh văn trẻ em</h4>
                                            <p>Môi trường học thoải mái vui vẻ và các trò chơi thông minh cho các bé</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                        Thảo luận cùng các bạn học
                                        <i class="fa fa-angle-right pull-right"></i>
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseTwo1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Các bạn học cùng giao tiếp với nhau đưa ra những ý tưởng độc đáo
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                        Hoạt động ngoại khóa
                                        <i class="fa fa-angle-right pull-right"></i>
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseThree1" class="panel-collapse collapse">
                                <div class="panel-body">
                                   Cùng tham gia các hoạt động ngoại khóa đầy bổ ích, các trò chơi nhỏ trong lớp học
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
                                       Học bổng
                                        <i class="fa fa-angle-right pull-right"></i>
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseFour1" class="panel-collapse collapse">
                                <div class="panel-body">
                                   Cơ hội được nhận các học bổng hàng tháng đầy ý nghĩa
                                </div>
                            </div>
                        </div>
                    </div><!--/#accordion1-->
                </div>
            </div>

        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#middle-->

<section id="bottom">
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Trung tâm</h3>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">We are hiring</a></li>
                        <li><a href="#">Meet the team</a></li>
                        <li><a href="#">Copyright</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Support</h3>
                    <ul>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Forum</a></li>
                        <li><a href="#">Documentation</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Developers</h3>
                    <ul>
                        <li><a href="#">Web Development</a></li>
                        <li><a href="#">SEO Marketing</a></li>
                        <li><a href="#">Theme</a></li>
                        <li><a href="#">Development</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Our Partners</h3>
                    <ul>
                        <li><a href="#">Adipisicing Elit</a></li>
                        <li><a href="#">Eiusmod</a></li>
                        <li><a href="#">Tempor</a></li>
                        <li><a href="#">Veniam</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->
        </div>
    </div>
</section><!--/#bottom-->